{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDIT</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form movie_form %}
    
    
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-outline-primary">Cancel</button>
        <a href="{% url 'movies:list' %}" class="btn btn-info">Back</a>
    {% endbuttons %}
    </form>
</body>
</html>