{% load static %}
{% load movie_templates %}
<link rel="stylesheet" type="text/css" href="{% static 'movies/carousel.css' %}">

<div class="text-center my-3">
    <div class="d-flex justify-content-between">
        <span class='ml-5 text-white' style='font-size:1.4vw;'>친구들이 재밌게 본 영화</span>
        <span class='mr-5 text-white' style='font-size:1.4vw;'>모두 보기<i class="fas fa-angle-right"></i></span>
    </div>
    <div id="followCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="false">
        <div class="carousel-inner w-100" role="listbox">
            {% for fm in following_saw|slice:":12" %}
                {% if forloop.counter == 1 %}
                    <div class="carousel-item row no-gutters active hover_container">
                {% endif %}
                        <div class="col-2 float-left" data-toggle="modal" data-target="#movieModal">
                        <p class="text-white" style="font-size: 20px; position: absolute; bottom: 0px; left: 16px;">{{ fm.title }}</p>
                            <img class="img-fluid hover_image" src="{{ fm.backdrop_url }}">
                        </div>
                {% if forloop.counter == 6 %}
                    </div>
                    <div class="carousel-item row no-gutters">
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <a class="carousel-control-prev" href="#followCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon mr-auto" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#followCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon ml-auto" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="docfment">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id='name'></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>