<style>
    .hover_container {
      position: relative;
      width: 50%;
    }
    
    .hover_image {
      opacity: 1;
      display: black;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    }
    
    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      /*top: 87%;*/
      top: 5%;
      left: -5%;
      /*transform: translate(-50%, -50%);*/
      /*-ms-transform: translate(-50%, -50%);*/
      /*text-align: center;*/
    }
    
    .middle p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 8; /* 라인수 */
      -webkit-box-orient: vertical;
      word-wrap:break-word; 
      line-height: 14px;
      max_height: 130px;
    }
    
    .hover_container:hover .hover_image {
      opacity: 0.3;
      -webkit-transform: scale(1.09);
    }
    
    .hover_container i {
        color: white;
    }
    
    .hover_container i:hover {
        color: red;
    }
    
    .hover_container a {
        text-decoration: none;
    }
    
    
    .hover_container:hover .middle {
      opacity: 1;
    }
    
    .text {
      /*background-color: #4CAF50;*/
      color: white;
      font-size: 16px;
      padding: 16px 32px;
    }
</style>

<br>
<div class="container">
    <!--<p class="mt-3"> <span class="text-white">{{ user.username }}</span><span class="text-muted">님이 보고싶어요한 작품</span></p>-->
    <div class="row">
        {% for status in statuss %}
        <div class="col-4 mb-3">
            <!--<div class="card card-hover h-100">-->
            <!--<div class="col-10 my-3">-->
                <div class="card card-hover h-100 hover_container" style="width: 18rem; background-color: #191919;">
                        <img src="{{ status.poster_url }}" class="card-img-top hover_image" style="height: 410px;" alt="...">
                        <div class="middle">
                            <div class="text text-left">
                                <h5>{{ status.title }}</h5>
                                <p>{{ status.runtime }}분</p>
                                {% if status.overview %}
                                <p style="font-size:14px;">{{ status.overview }}</p>
                                {% else %}
                                <p style="font-size:14px;">해당 정보가 없습니다.</p>
                                {% endif %}
                                {% if status.video %}
                                    <button type="button" class="btn btn-danger btn-xs" onclick="window.open('{{ status.video }}', '{{ status.title }}예고편 영상'); return false"><i class="far fa-play-circle"></i> 재생</button>
                                {% else %}
                                    <button type="button" class="btn btn-danger btn-xs" style='font-size: 12px;' disabled>예고편을 지원하지 않는 영화 입니다.</button>
                                {% endif %}
                                <a href="{% url 'movies:detail' status.pk %}" id='detailLink'><i class="fas fa-angle-down fa-2x to-detail d-flex justify-content-center"></i></a>
                            </div>
                        </div>
                    <!--<div class="card-body">-->
                    <!--<div class="card-body">-->
                    <!--  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                    <!--</div>-->
                    <!--    <div class="reveal bg-warning p-2">-->
                    <!--        This is hidden until card in hovered!-->
                    <!--    </div>-->
                    <!--</div>-->
                </div>
            <!--</div>-->
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="pagination d-flex justify-content-center">
        <span class="step-links">
            {% if statuss.has_previous %}
                <a href="?page=1"><< </a>
                <a href="?page={{ statuss.previous_page_number }}"><</a>
            {% endif %}
    
            <span class="current text-white">
                Page {{ statuss.number }} of {{ statuss.paginator.num_pages }}.
            </span>
    
            {% if statuss.has_next %}
                <a href="?page={{ statuss.next_page_number }}">></a>
                <a href="?page={{ statuss.paginator.num_pages }}"> >></a>
            {% endif %}
        </span>
    </div>
</div>