<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>보고싶어요 / 관심없어요 누른 영화</title>
</head>
<body>
    <p>보고싶어요</p>
    {% for movie in user.like_movie.all %}
        <li>{{ movie.title }}</li>
    {% endfor %}
    <hr>
    <p>관심없어요</p>
    {% for movie in user.hate_movie.all %}
        <li>{{ movie.title }}</li>
    {% endfor %}
    
</body>
</html>