{% extends 'base.html' %}
{% block head %}
<style>
    .hover_container {
      position: relative;
      width: 50%;
    }
    
    .hover_image {
      opacity: 1;
      display: black;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    }
    
    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 20%;
      left: -5%;
      /*transform: translate(-50%, -50%);*/
      /*-ms-transform: translate(-50%, -50%);*/
      text-align: center;
    }
    
    .middle p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 8; /* 라인수 */
      -webkit-box-orient: vertical;
      word-wrap:break-word; 
      line-height: 12px;
      height: 100px;
    }
    
    
    .hover_container:hover .hover_image {
      opacity: 1;
      -webkit-transform: scale(1.2);
      /*-webkit-transition: transform 3.5s;*/
    }
    
    .hover_container:hover .middle {
      opacity: 1;
    }
    
    .text {
      /*background-color: #4CAF50;*/
      /*z-index: 1;*/
      color: white;
      font-size: 16px;
      padding: 16px 32px;
    }
    

</style>
{% endblock %}

{% block content %}


<!--<p class="text-white">{{ user.username }}</p>-->
<!--<p class="text-white">{{ user.like_movie.all }}</p>-->


<div class="container">
  
    <p class="mt-3" style='font-size:1.4vw;'> <span class="text-white">{{ user.username }}</span><span class="text-muted">님이 보고싶어요한 작품</span></p>
    <div class="row">
        {% for movie in user.like_movie.all %}
        <div class="col-4 mt-3">
            <!--<div class="card card-hover h-100">-->
            <!--<div class="col-10 my-3">-->
                <div class="card card-hover h-100 hover_container" style="width: 18rem; background-color: #191919;">
                        <!--<img src="{{ movie.poster_url }}" class="card-img-top hover_image" style="height: 410px;" alt="...">-->
                        <a href="{% url 'movies:detail' movie.pk %}"><img src="{{ movie.poster_url }}" class="card-img-top hover_image" style="height: 410px;" alt="..."></a>
                        <div class="middle">
                            <div class="text text-left">
                                <h5>{{ movie.title }}</h5>
                                <p>{{ movie.runtime }}분</p>
                                {% if movie.overview %}
                                <p style="font-size:12px;">{{ movie.overview }}</p>
                                {% else %}
                                <p style="font-size:12px;">관련 정보가 없습니다.</p>
                                {% endif %}
                                    
                                <a href="{% url 'movies:detail' movie.pk %}">
                                  <i class="fas fa-angle-down to-detail d-flex justify-content-center dropdown" id="{{ movie.pk }}"></i>
                                </a>
                                
                                
                                
    <!--                            <nav class="navbar navbar-expand-lg sticky-top" style="background-color: #00ff0000;">-->
    <!--    <a class="navbar-brand text-white my-auto ml-5" href="#">-->
        
    <!--    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--        <span class="navbar-toggler-icon"></span>-->
    <!--    </button>-->
    <!--    {% if user.is_authenticated %}-->
    <!--    <div class="collapse navbar-collapse" id='navbarNavDropdown'>-->
    <!--        <ul class="navbar-nav mr-auto">-->
                    
    <!--                <li class="dropdown">-->
    <!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">장르</a>-->
    <!--                    <ul class="dropdown-menu multi-column columns-3">-->
    <!--                    <div class="row">-->
    <!--			            <div class="col-lg-4">-->
    <!--				            <ul class="multi-column-dropdown">-->
    <!--					            <a class="dropdown-item" href="#">액션</a>-->
    					            
    <!--				            </ul>-->
    <!--			            </div>-->
    <!--		            </div>-->
    <!--		            </ul>-->
    <!--                </li>-->
    <!--            </ul>-->
            
    <!--    </div>-->
    <!--    {% endif %}-->
    <!--</nav>-->
                            </div>
                        </div>
                        
                    <!--<div class="card-body">-->
                    <!--<div class="card-body">-->
                    <!--  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                    <!--</div>-->
                    <!--    <div class="reveal bg-warning p-2">-->
                    <!--        This is hidden until card in hovered!-->
                    <!--    </div>-->
                    <!--</div>-->
                </div>
            <!--</div>-->
        </div>
        {% endfor %}
    </div>
</div>





<!--<p>보고싶어요</p>-->
<!--{# for movie in user.like_movie.all #}-->
<!--    <li>{{ movie.title }}</li>-->
<!--{# endfor #}-->
<!--<hr>-->
<!--<p>관심없어요</p>-->
<!--{# for movie in user.hate_movie.all #}-->
<!--    <li>{{ movie.title }}</li>-->
<!--{# endfor #}-->





<!--<div class="view overlay">-->
<!--    <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="img-fluid " alt="smaple image">-->
<!--    <div class="mask flex-center rgba-red-strong">-->
<!--        <p class="white-text">Strong overlay</p>-->
<!--    </div>-->
<!--</div>-->


<!--<div class="row">-->
<!--        <div class="col-sm-4">-->
<!--            <div class="card card-hover h-100">-->
<!--                <div class="card-body">-->
<!--                    <i class="fa fa-search fa-5x float-right"></i>-->
<!--                    <h3 class="card-title">Front</h3>-->
<!--                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--                    <div class="reveal bg-warning p-2">-->
<!--                        This is hidden until card in hovered!-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->




    
    
  

{% endblock %}


