{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>비밀번호변경</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <!--{{ form }}-->
        {% bootstrap_form password_change_form %}
        {% buttons submit="변경" reset="cancel" %}{% endbuttons %}
        
        <!--<input type="submit" value="Submit"/>-->
    </form>

</body>
</html>