{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block head %}
<style>
    html,body{
    background-image: url('https://images2.alphacoders.com/760/760735.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    background-position: center center;
    overflow: hidden;
    }
</style>
{% endblock %}
{% block content %}

{% endblock %}

<!DOCTYPE html>
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>회원가입</h1>-->
<!--    <form action="" method="POST">-->
<!--        {% csrf_token %}-->
        <!--{{ form }}-->
<!--        {% bootstrap_form form %}-->
<!--        {% buttons submit="회원가입" reset="cancel" %}{% endbuttons %}-->
        
        <!--<input type="submit" value="Submit"/>-->
<!--    </form>-->

<!--</body>-->
<!--</html>-->