{% load bootstrap4 %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>로그인</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <!--{{ form }}-->
        {% bootstrap_form form %}
        {% buttons submit="로그인" reset="cancel" %}{% endbuttons %}
        
        <!--<input type="submit" value="Submit"/>-->
    </form>
    
    <!-- 카카오 로그인 -->
    <a href="{% provider_login_url 'kakao' method='oauth2' %}" class="btn btn-warning">카카오로그인</a>
</body>
</html>